@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, ;
  overflow-x: hidden;
  background-color: #282828;
  user-select: none;
}
.gradient-transition {
  transition: 2s ease;
} 
.custom-shadow{
  box-shadow: 0 0 30px 2px black;
}

.custom-shadow:hover{
  box-shadow: 0 0 30px 1px white;
}
.text-gradient {
  background: linear-gradient(to right, rgb(249, 37, 249), #D4B200 );
  -webkit-background-clip: text;
  color: transparent;
}